databases:
  - name: mysitedb
    databaseName: mysitedb
    user: mysiteuser

services:
  - type: web
    name: mysite
    runtime: docker
    plan: free
    region: singapore
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: mysitedb
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: WEB_CONCURRENCY
        value: "4"
